* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
  line-height: 1.3rem;
}

nav {
  padding: 16px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  object-fit: fill;
  overflow: hidden;
}

.destxt {
  font-size: larger;
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h1 {
  text-align: center;
}

.sections {
  padding: 2rem 1.5rem 1.5rem 1.5rem;
}

#home {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

#home .pic-txt {
  border: 1px solid black;
  margin-bottom: 2rem;
  height: 46rem;
  display: flex;
  flex-direction: column;
}

.pic {
  height: 100%;
  width: 100%;
}

.txt {
  padding: 1.5rem 1.2rem;
}

h3 {
  line-height: 2rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
}

#about {
  display: flex;
  border: 1px solid black;
  min-height: 300px;
}

.pic-b {
  flex: 1;
  background-image: url('Assets/images/img2.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.txt-l {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  padding: 0 15rem;
}

button {
  color: white;
  background-color: black;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

#contact {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#contact ul {
  flex-direction: column;
  justify-content: space-between;
}

#contact li {
  padding-bottom: 0.25rem;
}

#contact .fo {
  font-size: larger;
  font-weight: bolder;
  padding-bottom: 1rem;
}

#contact form {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  margin: 0 auto;
}

#contact label {
  font-weight: bold;
  margin-bottom: 0.6rem;
}

input, textarea {
  padding: 2px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 9px;
}

#contact button {
  margin-top: 1rem;
}

footer {
  background: gray;
  color: white;
  text-align: center;
  margin-top: 5rem;
}
